<footer class="footer bg-dark py-5 mt-auto">
    <div class="container">
        <div class="row">
            <!-- Company Info -->
            <div class="col-lg-4 mb-4">
                <h5 class="text-white">NexSafe Systems</h5>
                <p class="text-light">Next-level security for a connected world</p>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-github"></i></a>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 mb-4">
                <h6 class="text-white">Solutions</h6>
                <ul class="list-unstyled">
                    <li><a href="/src/pages/solutions.html#threat-detection" class="text-light">Threat Detection</a></li>
                    <li><a href="/src/pages/solutions.html#incident-response" class="text-light">Incident Response</a></li>
                    <li><a href="/src/pages/solutions.html#iot-security" class="text-light">IoT Security</a></li>
                </ul>
            </div>

            <!-- Resources -->
            <div class="col-lg-2 mb-4">
                <h6 class="text-white">Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="/src/pages/documentation.html" class="text-light">Documentation</a></li>
                    <li><a href="/src/pages/blog.html" class="text-light">Blog</a></li>
                    <li><a href="/src/pages/support.html" class="text-light">Support</a></li>
                </ul>
            </div>

            <!-- Company -->
            <div class="col-lg-2 mb-4">
                <h6 class="text-white">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="/src/pages/about.html" class="text-light">About Us</a></li>
                    <li><a href="/src/pages/contact.html" class="text-light">Contact</a></li>
                    <li><a href="/src/pages/careers.html" class="text-light">Careers</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="text-light">© 2024 NexSafe Systems. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 