<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/src/pages/Home.html">
            <img src="../assets/images/nexSafeLogo_LB1.jpeg" alt="NexSafe Systems" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/solutions.html">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/documentation.html">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ms-2" href="/src/pages/Contact.html">Get Started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>