<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/src/pages/Home.html">
            <img src="../assets/images/nexSafeLogo_LB1.jpeg" alt="NexSafe Systems" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button" data-bs-toggle="dropdown">
                        Solutions
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/solutions/endpoint-protection">NexSafe Endpoint Protection</a></li>
                        <li><a class="dropdown-item" href="/solutions/cloud-security">AI-Powered CSPM (Coming Soon)</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/services/risk-assessment">Security Risk Assessment</a></li>
                        <li><a class="dropdown-item" href="/services/compliance">Compliance Services</a></li>
                        <li><a class="dropdown-item" href="/services/control-testing">Security Control Testing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ms-2" href="/contact">Get Started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>